.navb {
    display: flex;
    background-color: #071162;
    width: 100%;
    padding: 18px 60px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 55px rgb(3, 6, 53);
}

.logowrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alink {
    height: 43px;
}

.install {
    min-width: 150px;
}

.useraddr {
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: 12px;
    border: 1px solid #40444f;
    background-color: #2c2f36;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .navb {
        flex-direction: column;
        gap: 2rem;
    }
}
